<%-include('../cabecalho.ejs')%>
    <h1>Editar Distribuidora</h1>
    <div>
        <form method="post">
            <label>Nome:</label>
            <input type="text" name="nome" value="<%=Distribuidora.nome%>" required>
            <br>
            <label>Descrição:</label>
            <textarea name="descricao" required><%=Distribuidora.descricao%></textarea>
            <br>
            <label>Website:</label>
            <input type="text" name="website" value="<%=Distribuidora.website%>" required>
            <br>
            <label>País de Origem:</label>
            <input type="text" name="paisDeOrigem" value="<%=Distribuidora.paisDeOrigem%>" required>
            <br>
            <label>Data de Fundação:</label>
            <input type="date" name="dataDeFundacao" value="<%=Distribuidora.dataDeFundacao.toISOString().split('T')[0]%>" required>
            <br>
            <label>Logo:</label>
            <input type="file" name="logo" value="<%=Distribuidora.logo%>" accept="image/*">
            <br>
            <button type="submit">Salvar</button>
        </form>
    </div>
<%-include('../rodape.ejs')%>