<%-include('../cabecalho.ejs')%>
    <h1>Distribuidora</h1>
    <div>
        <form action="" method="post">
            <input type="text" name="filtro" placeholder="Filtrar por nome">
            <button type="submit">Pesquisar</button>
        </form>
    </div>
    <table>
        <tr>
            <td>Nome</td>
            <td>Descrição</td>
            <td>Website</td>
            <td>País de Origem</td>
            <td>Data de Fundação</td>
            <td>Logo</td>
            <td>Ações</td>
        </tr>
        <%for(const{nome, descricao, website, paisDeOrigem, dataDeFundacao, logo, id} of Distribuidoras){%>
            <tr>
                <td>
                    <%=nome%>
                </td>
                <td>
                    <%=descricao%>
                </td>
                <td>
                    <%=website%>
                </td>
                <td>
                    <%=paisDeOrigem%>
                </td>
                <td>
                    <%=dataDeFundacao.toISOString().split('T')[0]%>
                </td>
                <td>
                    <img src="<%=logo%>" width="150" height="150">
                </td>
                <td>
                    <a href="/curso/edit/<%=id%>">Editar</a>
                    <a href="/curso/delete/<%=id%>">Excluir</a>
                </td>
            </tr>
            <%}%>
    </table>
<%-include('../rodape.ejs')%>