<%-include('../cabecalho.ejs')%>
<h1>Editar Aluno</h1>
<div>
    <form method="post">
        <input type="hidden" name="id" value="<%=Aluno.id%>" required readonly>
        <br>
        <label>Nome:</label>
        <input type="text" name="nome" value="<%=Aluno.nome%>" required>
        <br>
        <label>Matricula:</label>
        <input type="text" name="matricula" value="<%=Aluno.matricula%>" required>
        <br>
        <button type="submit">Salvar</button>
    </form>
</div>
<%-include('../rodape.ejs')%>